.AssignedComments{
    height: 366px;
    width: 100%;
    border: 3px solid #EFEFEF;
    border-radius: 16px;
}
.AssignedComments .title-O{
   
    padding: 20px;
}
.comments{
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    
}