.better-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 140px;
  border: 3px solid rgb(218, 218, 218);
  border-radius: 8px;
  gap: 8px;
  margin: 8px;
}

.better-item h3 {
  text-align: center;
}

.better-container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  blur: (10px);
}

.better-container .get-back {
  margin-top: 65px;
  width: 170px;
  height: 47px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  background: rgb(0, 102, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 0, 255, 1) 0%,
    rgba(0, 102, 255, 1) 100%
  );
  color: white;
  border: none;
}
