section.collaboration-section {
  width: 100%;
  height: 600px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.collaboration-section .part-text {
  width: 50%;
  padding: 60PX;
}

.collaboration-section .part-text h2 {
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(250, 0, 255, 1) 25%,
    rgba(250, 0, 255, 1) 50%,
    rgba(250, 0, 255, 1) 100%
  );
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.collaboration-section .part-text p {
  margin-top: 10px;
  font-size: 20px;
}

.collaboration-section .part-text span {
  font-weight: bold;
}

.part-img {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 100%;
}

.part-img .CollabImg {
  width: 600px;
  position: absolute;
  height: auto;
  right: 0px;
  bottom: 220px;
  border-radius: 15px;
}
.part-img .phone {
  width: 100px;
  position: absolute;
  height: auto;
  right: 520px;
 bottom: 220px;
  border-radius: 10px;
}

.part-img .bg {
  position: absolute;
  right: -50px;
  top: 80px;
  width: 700px;
  height: 326px;
  border-radius: 15px;
  background: rgb(0, 102, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(250, 0, 255, 1) 100%
  );
}
@media screen and (max-width: 1302px){
  .part-img .CollabImg {
    width: 500px;
    bottom: 270px;
 
  }
  .part-img .phone {
    width: 100px;
    right: 430px;
    bottom: 270px;

  }
  
  .part-img .bg {
   
    
 
    width: 600px;
    height: 256px;

  }

}
@media screen and (max-width: 1225px) {
  .collaboration-section{
 flex-direction: column;
 align-items: flex-start !important;
 height: 700px !important;
  }
  .part-img,.part-text{
    width: 100% !important;
  }
  .part-img .CollabImg {
   left: auto;
   right:auto ;
   bottom:50PX ;
   top:auto ;
   width: 70%;
 
  }
  .part-img .phone {
    left: 100px;
   right:auto ;
   bottom:50PX ;
   top:auto ;
   width: 10%;
  }
  
  .part-img .bg {
   
    
 
    display: none;

  }
  .part-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 426px) {
 

  
 
}

@media screen and (max-width: 376px) {
 
}

@media screen and (max-width: 321px) {
 
}
