.title{
    border-bottom: 3px solid #EFEFEF;
    width: 100%;
    font-family: "Outfit", sans-serif;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
}
.title h1{
    font-size: 20px;
}
.WSC{
    width: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.hello{
    font-family: "Outfit", sans-serif;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
}
.hello h2{
   font-size: 32px;
}