.project-content {
  padding: 20px;
  height: 100%;
}

.not-joined {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-session {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 22px;
  gap: 6px;
  padding: 38px 28px 88px 28px;
}

.join-session h2 {
  font-size: 27px;
  font-weight: 800;
}

.join-session p {
  max-width: 90%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.join-session .btn-join {
  margin-top: 55px;
  width: 240px;
  height: 47px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  background: rgb(0, 102, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(250, 0, 255, 1) 100%
  );
  color: white;
  border: none;
}
