.resents{
    height: 306px;
    width: 100%;
    border: 3px solid #EFEFEF;
    border-radius: 16px;
    padding:  20px;
}
.title-O{
   

    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.title-O h3 {
    font-size: 20px;
}
.resents ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Outfit", sans-serif;
}
.resents li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
   
    padding: 10px;
    border-radius: 4px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.icon svg:last-child{
   
    color: white;
    border-radius: 4px;
}